<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('../partials/navBar.ejs') %>
    <section class="heroSection">
      <div class="heroSection-content">
        <div>
          <h1 class="title">
            Je suis <span>Olivier Lemort</span>, Développeur d'application web
          </h1>
          <p class="heading4">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Fames dui
            vestibulum risus amet per curabitur
          </p>
          <%- include('../partials/navBar-socialLink.ejs', {type: 'ico'}) %>
        </div>
        <button class="button heading4">
          Mes projets
          <span class="icon">
            <%- include('../../../public/svg/icon external link.svg') %>
          </span>
        </button>
      </div>
    </section>
    <section class="projectSection" id="projectSection">
      <div class="blockTitle">
        <h3 class="bigTitle">Mes projets</h3>
      </div>
      <% for (const project of listProject) { %> <%-
      include('../layouts/blockInfos-project.ejs', {project: project}) %> <% }
      %>
      <div class="blockLinks">
        <p class="title">Pour en voir plus :</p>
        <div class="listSocialLinks">
          <span class="icon">
            <%- include('../../../public/svg/logo codepen.svg')%>
          </span>
          <span class="icon">
            <%- include('../../../public/svg/logo github.svg')%>
          </span>
          <span class="icon">
            <%- include('../../../public/svg/logo gitlab uncolor.svg')%>
          </span>
        </div>
      </div>
    </section>
    <section class="experienceSection" id="experienceSection">
      <h3 class="bigTitle">Expérience pro</h3>
      <div class="sliderExperience">
        <% for (const experience of listExperience) { %> 
          <%-include('../layouts/blockInfos.ejs', {data: experience}) %> 
        <% } %>
      </div>
    </section>
    <section class="formationSection" id="formationSection">
      <h3 class="bigTitle">Formation</h3>
      <div class="contentFormation">
        <% for (const formation of listFormation) { %> 
          <%-include('../layouts/blockInfos.ejs', {data: formation}) %> 
        <% } %>
      </div>
    </section>
    <section class="skillSection" id="skillSection">
      <h3 class="bigTitle">Mes compétences</h3>
      <div class="groupSkills">
        <% for (const skills of listSkills) { %>
          <%- include('../layouts/listSkills.ejs', {skills: skills}) %>
        <% } %>
      </div>
    </section>
    <section class="contactSection" id="contactSection">
      <div>
        <h3 class="bigTitle">Contact</h3>
        <%- include('../partials/navBar-socialLink.ejs', {type: 'default'}) %>
      </div>
      <div>
        <p class="heading4">
          <span class="icon">
            <%-include('../../../public/svg/icône mail.svg') %>
          </span>
          lemort.olivier.pro@gmail.compétences
        </p>
        <p class="heading4">
          <span class="icon">
            <%-include('../../../public/svg/icône tel.svg') %>
          </span>
          07.63.49.12.06
        </p>
        <button class="button">Me contacter</button>
      </div>
    </section>
  </body>
</html>
