<%# variable-content: title, img, date, description, tags[], isCertificate !
modifier variable projet en data et ajouter une variable pour le style %>

<div class="blockInfos">
  <% if(project) { %>
  <img
    src="images/<%- project.image %>"
    alt=""
    style="--color: <%=project.color %>"
  />
  <div>
    <h5 class="heading3"><%- project.title %></h5>
    <p class="heading4"><%- project.date %></p>
    <p class="text"><%- project.description %></p>
    <div class="tagsList">
      <% for (const tags of project.tags) { %>
      <p class="text"><%= tags %></p>
      <% } %>
    </div>
  </div>
  <button class="button">Plus d'infos</button>
  <% } %>
</div>
