<%# variable-content: title, img, date, description, tags[], isCertificate !
modifier variable projet en data et ajouter une variable pour le style %>

<div class="blockInfos">
  <% if(data) { %> <% if(data.image) { %>
    <img
      src="images/<%- data.image %>"
      alt=""
      style="--color: <%=data.color %>"
  />
  <% } %>
  <% if(data.isCertificate === "true") { %>
    <span class="icon">
      <%# modifier l'icône pour pouvoir avoir un background dans l'icone%>
      <%- include('../../../public/svg/icone diplome.svg') %>
    </span>
  <% } %> 
  <div>
    <h5 class="heading3"><%- data.title %></h5>
    <p class="heading4"><%- data.date %></p>
    <p class="text"><%- data.description %></p>
    <div class="tagsList">
      <%# condition si il y'a plus de 3 lignes %> 
      <% for (const tags of data.tags) { %>
      <p class="text"><%= tags %></p>
      <% } %>
    </div>
  </div>
  <% if(data.image) { %>
  <button class="button">Plus d'infos</button>
  <% } %> <% } %>
</div>
